<h1>News+ </h1>
<div class="buttons">
    <a href="somelink"> <span class="top-buttons">Recent Post</span> </a>
    <span class="top-buttons">Selected Post</span>
    <span class="top-buttons">My Settings</span>
    <a href="articles/new"> <span class="new-post">New Post</span> </a>
</div>

<div class="main-page">
    <% if current_user %>
    <li><%= link_to "Profile", current_user %> Logged in as <%= current_user.username %> </li>
    <li><%= link_to "Log Out", logout_path %></li>
<% end %>

    <div class="article-container">
        <% @articles.each do |article| %>

        <div style="display:flex;flex-flow:row nowrap;padding:16px;background-color:rgb(226, 226, 226);">
            <div class="imageholder">
                <img src="https://cdn3.f-cdn.com/contestentries/1376995/30494909/5b566bc71d308_thumb900.jpg"
                    alt="Flowers in Chania">
            </div>
            <article>
                <p class="article-title"><%= link_to article.title, article_path(article) %></p>
                <span class="subtext"><%= article.user %></span>
                <span class="subtext"><%= article.created_at.to_formatted_s(:long) %></span>
                <span class="subtext"><%= article.topic %></span>
                <span class="subtext"><%= link_to 'View Article', article_path(article) %></span>
            </article>
        </div>
        <% end %>
    </div>

    <div class="right-page">

        <div class="recent-members">
            <h2 class="small-header">Recent Members</h2>
            <% @users.each do |user| %>
            <div style="display:flex;flex-flow:row nowrap;padding:16px;background-color:rgb(226, 226, 226);">
                <div class="imageholder">
                    <img src="https://cdn3.f-cdn.com/contestentries/1376995/30494909/5b566bc71d308_thumb900.jpg"
                        alt="Flowers in Chania">
                </div>
                <span class="subtext"><%= user.email %></span>
            </div>

            <% end %>
        </div>
        <div class="topics">
            <h2 class="small-header">Topics</h2>
            <% @topics.each do |topic| %>            
                <span class="subtext"><%= topic %></span>
            <% end %>
        </div>
        <div class="post">
            <h2 class="small-header">Post</h2>
            Most viewed posts

        </div>
        <div class="links">
            <h2 class="small-header">Links</h2>
            <p> <a href="http://www.rubyonrails.org"> Ruby </a> </p>
            <p> <a href="http://www.rmit.edu.au"> RMIT </a> </p>
            
            

        </div>
    </div>


</div>