<div class="article_form">
  
<h1>New Article</h1>

<%= form_with(model: @article, local: true) do |form| %>

<% if @article.errors.any? %>
    <div id="error">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :Text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.label :Topic %><br>
    <%= form.select :topic, ['AI', 'Virtual Reality', 'RMIT', 'Machine Learning']%>
  </p>

   <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
