<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.topic %>
</p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
<p>
  <%= form.hidden_field :commenter, :value => current_user.username %>
</p>
  <p>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<% if current_user.username == @article.user %>
<p>
  <%= link_to 'Delete Article', article_path(@article.id),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
</p>

<% end %>


