<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<h2>Comments</h2>
<% @user.comments.each do |comment| %>
  <p>
    <strong>Article: <%= 
      a= Article.find_by_id(comment.article_id)
      a.title 
    %></strong>
    <p class="subtext"><%= comment.created_at.to_formatted_s(:long) %></p>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    <%= link_to 'View article', article_path(a.id) %> 
  </p>
 

<% end %>

<h2>Articles</h2>
<% @user.articles.each do |article| %>
  <p>
    <strong>Article: <%= article.title %></strong>
    <p class="subtext"><%= article.user %></p>
    <p class="subtext"><%= article.created_at.to_formatted_s(:long) %></p>
    <p class="subtext"><%= article.topic %></p>
    <%= link_to 'View article', article_path(article.id) %> 
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
